<section>
	<div id="signUpLogIn">
		<div class="signCont row">
			<header class="signupHeader col-xs-offset-1 col-xs-10 col-sm-10 text-center">Login</header>
			<div class="signupPage col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6">
				<div class='col-xs-12 col-sm-12'>
					<form method='post' action='/auth/login'>
						<div class="form-group">
							<h3>Email:</h3>
							<input type="text" name="email"  class="input form-control" placeholder="Your email">
						</div>
						<div class=" password form-group">
							<h3>Password:</h3>
							<input type="password" name="password"  class="input form-control" placeholder="Your password">
						</div>
						<input type="submit" value='login' class='btn btn-success'>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>