<nav class="navbar navbar-default" role="navigation">

		<!-- mobile stuff -->
		<div class='navbar-default'>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class='sr-only'>Toggle navigation</span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
				<span class='icon-bar'></span>
			</button>
		</div>
				<a class="navbar-brand" href="/">
					<img class="logo" src="/img/logo.png" alt="logo">
				</a>
		<!-- define links in navbar -->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<% if(!currentUser){ %>
					<li>
						<a class='nav-link' href="/">Search Parks</a>
					</li>
					<li>
						<a class='nav-link' href="/auth/login">login</a>
					</li>
					<li>
						<a class='nav-link' href="/auth/signup">sign up</a>
					</li>
				<% } else { %>
					<li>
						<a class='nav-link' href="/">Search Parks</a>
					</li>
					<li>
						<a class='nav-link' href="/favorites/profile"><%= currentUser.firstname.charAt(0).toUpperCase() + currentUser.firstname.slice(1);%></a>
					</li>
					<li>
						<a class='nav-link' href="/auth/logout">logout</a>
					</li>
				<% }; %> 
			</ul>
		</div>
</nav>