
<div>
	<div class='text-center search-bar'>
		<form id="search" action='/search'>
			<img class='search-logo' src="img/logo.png">
			<input name='q' type="text" placeholder="ask teddi&#8482; about... mount rainier">
		</form>
		<div class="tDesc">
			<h4 id="tDesc">teddi&#8482; uses the National Parks Service's API to give you up-to-date information bout your favorite National Parks! </h4>
			<h4 id="tDesc">create a profile to keep track of your favorite parks and ones you plan to visit! </h4>
		</div>

</div>
</div>